
@{
    ViewData["Title"] = "Search";
}



@model Photo_Metadata_Organizer.ViewModels.SearchPhotoViewModel
<h1> Search </h1>

<h2> this is an update</h2>


@*<h1>@Model.Title</h1>
<form action="/Search/Results">
    <p>
        @foreach (var column in Model.Columns)
        {
            var checkedColumn = column.Equals(Model.Column);

            <span>
                id="@column"
                value="@column"
                checked="@checkedColumn" />
                <label for="@column">@column</label>
            </span>
        }
    </p>

    <p>
        <label asp-for="Value"></label>
        <input asp-for="Value" />
    </p>

    <input type="submit" value="Search" />
</form>

<hr />

@if (Model.Photos != null)
{

    <h3>@Model.Photos.Count Result(s)</h3>

    @foreach (var job in Model.Photos)
    {
<table class="job-listing">
    <tr>
        <td>Name</td>
        <td>@Photo.Name</td>
    </tr>
    <tr>
        <td>Date and Time</td>
        <td>@Photo.Datetime</td>
    </tr>
    <tr>
        <td>Aperature</td>
        <td>@Photo.Aperature</td>
    </tr>
    <tr>
        <td>Exposure</td>
        <td>@Photo.Exposure</td>
    </tr>
    <tr>
        <td>ISO</td>
        <td>@Photo.ISO</td>
    </tr>
    <tr>
        <td>Focal Length</td>
        <td>@photo.focallength</td>
    </tr>
</table>
    }
}*@